# Telegram Bot Token, get it from https://t.me/BotFather
BOT_TOKEN=

# Gemini API Key, get it from https://makersuite.google.com/app/apikey
GEMINI_API_KEY=

# Optional, if you want to only allow certain users to access the bot, format is username1,username2
ALLOWED_USERS=
